[Unit]
Description=IG Uploader API
After=network.target

[Service]
WorkingDirectory=/mnt/sandboxes/ig-uploader-api
ExecStart=/mnt/sandboxes/ig-uploader-api/ig-uploader-venv/bin/python run.py
Restart=always
User=jalmeida
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
