<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>


        <style>
            .container {
                margin-top: 20px;
            }
    
            #upload-form {
                margin-top: 50px;
                padding: 20px;

            }
            .WARNlevel {
    color:#e99425;

  }

  .ERRORlevel {
    color: #F34e10;

  }
  .INFOlevel {
    color:#6b6a68;

  }


         
    .inline-form {
        display: flex;
        align-items: center;
        gap: 10px;
    }

        </style>
</head>

<body class="d-flex flex-column min-vh-100">
    <h1></h1>
    
    <div class="container">
  <h1>IG Uploader</h1>
  <br/>

  <h3>Quick reference</h3>
  <ol>
    <li> Check <a href="apidocs">here</a> for docs</li>
    <li> This is a wrapper around <a href="https://github.com/jkiddo/ember">https://github.com/jkiddo/ember</a></li>
  </ol>

  <h3>Configuration Form</h3>
  <form method="POST" role="form">
    <!-- Checkbox for usePUT -->
      <label for="usePUT">Use PUT: </label>
      <input type="checkbox" id="usePUT" name="usePUT" checked>
      <br>
  
      <!-- Checkbox for importDependencies -->
      <label for="loadRecursively">Import Dependencies:</label>
      <input type="checkbox" id="loadRecursively" name="loadRecursively" >
      <br>
  
      <!-- Text input for baseServer -->
      <label for="serverBase">Base Server (mandatory):</label>
      <input type="text" id="serverBase" name="serverBase" required>
      <br><br>
  
      <div class="inline-form">

      <!-- Dropdown select with linked input field -->
      <label for="options">Type of Package Information:</label>
      <select id="options" name="options">
          <option value="packageId">Package ID</option>
          <option value="packageURL">Package URL</option>
          <option value="packagebase64">Package Base64</option>
      </select>
      <br><br>
  
      <label for="detailInput">Data for the type of package</label>
      <input type="text" id="detailInput" name="detailInput" required>
      <br><br>
  </div>
      <input type="submit" value="Submit" id="upload-btn">
  </form>
<br>
<div class="container-fluid">
    {% if result %}
<h3>{{result["result"]}}</h3>

{% if result["hapi_error"] %}
{% for foo in result["hapi_error"] %}

<p>{{foo}}</p>
{% endfor %}

{% endif %}


<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>

        <th scope="col">Level</th>
        <th scope="col">Logger</th>

        <th scope="col">Message</th>

    </tr>
    </thead>
    <tbody>
    {% for foo in result["parsed_message"] %}
    <tr >
        <th scope="row">{{loop.index}}</th>

        <td class="{{foo[0]}}level">{{ foo[0] }}</td>
        <td>{{ foo[3] }}</td>
        <td>{{ foo[4] }}</td>

    </tr>
    {% endfor %}
    </tbody>
</table>

    </div>

  <br>

{% endif %}
</div>  


</body>

<script>


</script>

</html>


